{% extends 'base.html' %}

{% block titulo %}
   {{ titulo }}
{% endblock %}

{% block contenido %}

    <div class="row">
        <div class="col-md-8">
            <h1 name="titulo">{{ titulo }}</h1>
        </div>
        <div class="col-md-2">
            <a name="nuevoBtn" class="btn btn-primary btn-lg " href="{% url "nuevo_datos_factura" %}">
            <i class="icon_plus_alt2"></i> Nuevo</a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <div class="table-responsive" style="width:100%; overflow: scroll;">
                    <table class="table table-striped table-advance table-hover ">
                        <tbody>
                            <tr>
                                {% for titulo in encabezados %}
                                    <th> {{ titulo }}</th>
                                {% endfor %}

                            </tr>
                            {% for fact in datosFactura %}
                                <tr name="datosFactura">
                                    <td>{{fact.idIntegranteFamilia.parentesco}}</td>
                                    <td name="nombre">{{fact.idIntegranteFamilia.nombre}}</td>
                                    <td>{{fact.idIntegranteFamilia.apellidoPaterno}}</td>
                                    <td>{{fact.idIntegranteFamilia.apellidoMaterno}}</td>
                                    <td>{{fact.idIntegranteFamilia.ocupacion}}</td>
                                    <td>{{fact.idIntegranteFamilia.telefono}}</td>
                                    <td>{{fact.idIntegranteFamilia.email}}</td>
                                    <td name="noCuenta">{{fact.noCuenta}}</td>
                                    <td>{{fact.idInformacionFiscal.rfc}}</td>
                                    <td>{{fact.idInformacionFiscal.razonSocial}}</td>
                                    <td name="calle">{{fact.idInformacionFiscal.calle}}</td>
                                    <td>{{fact.idInformacionFiscal.numeroExterior}}</td>
                                    <td>{{fact.idInformacionFiscal.numeroInterior}}</td>
                                    <td>{{fact.idInformacionFiscal.colonia}}</td>
                                    <td>{{fact.idInformacionFiscal.referencia}}</td>
                                    <td>{{fact.idInformacionFiscal.localidad}}</td>
                                    <td>{{fact.idInformacionFiscal.municipio}}</td>
                                    <td>{{fact.idInformacionFiscal.estado}}</td>
                                    <td>{{fact.idInformacionFiscal.pais}}</td>
                                    <td>{{fact.idInformacionFiscal.codPostal}}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a name="modificarBtn" class="btn btn-success" href="#" onclick="window.location='{% url "modificar_datos_factura" pk=fact.id %}'">
                                                <i class="icon_check_alt2"></i>
                                            </a>
                                            <a name="eliminarBtn" class="btn btn-danger" href="#" onclick="eliminarDatosFactura({{fact.id}})">
                                                <i class="icon_close_alt2"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
    <form method="POST" name="formEliminar" action ="{% url "eliminar_datos_factura" %}">
        {% csrf_token %}
        
        <input type="hidden" name="id_datos_fact">

    </form>
{% endblock %}