{% extends 'base.html' %}
{% load filtros %}
{% block titulo %}
    {{funcion}} Datos Factura
{% endblock %}

{% block contenido %}
	
	<div class="row">
		
  		<div class="col-md-6">
  			
			<h1>{{funcion}} Datos Factura</h1>

			<form action="" method="POST" enctype="multipart/form-data" class="form-horizontal" >

			{% csrf_token %}
				{% for field in formInformacionFiscal.visible_fields %}
			        <div class="form-group">
			            <label class="col-sm-3 control-label">{{ field.label }}
			            {% if field.field.required %} *{% endif %}</label>
			            <div class="col-sm-9">
			                {{ field|add_clase:"form-control"}}
			                {% if field.errors %}<div class="alert alert-danger" role="alert">{{ field.errors.as_text }}</div>{% endif %}
			            </div>
			        </div>
			    {% endfor %}

			    {% for field in formFactura.visible_fields %}
			        <div class="form-group">
			            <label class="col-sm-3 control-label">{{ field.label }}
			            {% if field.field.required %} *{% endif %}</label>
			            <div class="col-sm-9">
			                {{ field|add_clase:"form-control"}}
			                {% if field.errors %}<div class="alert alert-danger" role="alert">{{ field.errors.as_text }}</div>{% endif %}
			            </div>
			        </div>
			    {% endfor %}
				<button name="guardarBtn" type="submit" class="btn btn-primary btn-lg">
					Guardar
				</button>
				<a name="cancelarBtn" class="btn btn-info btn-lg" href="{% url "listaDatosFactura" %}">
					Cancelar
				</a>
				
			</form>
		</div>
  		<div class="col-md-6"></div>
	</div>
{% endblock%}