{% extends 'base.html' %}

{% block titulo %}
   {{ titulo }}
{% endblock %}

{% block contenido %}


    <div class="row">
        <div class="col-md-8">
            <h1>{{ titulo }}</h1>
        </div>
        <div class="col-md-2 col-sm-6">
            <form action="{% url "lista_alumnos_inscritos" %}" name="formulario" method="POST">
		{% csrf_token %}
            <select class="form-control input-lg m-bot15"  onchange="formulario.submit()" name="bases">
                {% for opcion in opciones %}
                     <option value="{{opcion}}"
                        {% if opcion == seleccionado %}selected="selected"{% endif %}>
                     {{opcion }}</option>
                {% endfor %}
            </select>
	</form>
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary btn-lg btn btn-success"  onclick="window.location='{% url "archivo_alumnos_inscritos" nombre_archivo='archivo' %}'">
                <i class="fa fa-cloud-download" href="#"></i> Exportar</a>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <div class="table-responsive" style="width:100%; overflow: scroll;">
                <table class="table table-striped table-advance table-hover ">
                    <tbody>
                    <tr>
                        {% for titulo in encabezados %}
                            <th> {{ titulo }}</th>
                        {% endfor %}

                    </tr>
                     {% for dato1 in datos %}
                         <tr>
                         </tr>
                        {% for dato2 in dato1 %}
                            <td>{{ dato2 }}</td>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            </section>
        </div>
    </div>

{% endblock %}
