{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="{% static "img/logo-big.png" %}">
    

    <title>Login</title>

    <!-- Bootstrap CSS -->    
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="{% static "css/bootstrap-theme.css" %}" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="{% static "css/elegant-icons-style.css" %}" rel="stylesheet" />
    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/style-responsive.css" %}" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
  <body class="login-img3-body">
    <div class="container">
      <form class="login-form" action="{% url "login" %}"  method="POST">
        {% csrf_token %}        
        <div class="login-wrap">
            <p class="login-img">
                <img class="img-responsive login-img"src="{% static "img/logo.png" %}">
            </p>
            <div class="input-group">
              <span class="input-group-addon"><i class="icon_profile"></i></span>
              <input type="text" class="form-control" placeholder="Usuario" autofocus name="username">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                <input type="password" class="form-control" placeholder="Contraseña" name="password">
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Entrar</button>
        </div>
      </form>
    </div>
  </body>
</html>