{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="{% static "js/funciones.js" %}"></script>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="{% static "img/logo-big.png" %}">

    <title>{% block titulo %}{% endblock %}</title>

    <!-- Bootstrap CSS -->    
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="{% static "css/bootstrap-theme.css" %}" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="{% static "css/elegant-icons-style.css" %}" rel="stylesheet" />
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet" />    
    <!-- full calendar css-->
    <link href="{% static "assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" %}" rel="stylesheet" />
    <link href="{% static "assets/fullcalendar/fullcalendar/fullcalendar.css" %}" rel="stylesheet" />
    <!-- easy pie chart-->
    <link href="{% static "assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" %}" rel="stylesheet" type="text/css" media="screen"/>
    <!-- owl carousel -->
    <link rel="stylesheet" href="{% static "css/owl.carousel.css" %}" type="text/css">
    <link href="{% static "css/jquery-jvectormap-1.2.2.css" %}" rel="stylesheet">
    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static "css/fullcalendar.css" %}">
    <link href="{% static "css/widgets.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/style-responsive.css" %}" rel="stylesheet" />
    <link href="{% static "css/xcharts.min.css" %}" rel=" stylesheet">  
    <link href="{% static "css/jquery-ui-1.10.4.min.css" %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <script src="js/lte-ie7.js"></script>
    <![endif]-->
  </head>

  <body>
  <!-- container section start -->
  <section id="container" class="">
     
      
      <header class="header dark-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
            </div>


            <!--logo start-->

          <a class="logo">
              <img class="img-responsive login-img logo"src="{% static "img/logo.png" %}" style="width: 26px;">
          </a>
            <!--logo end-->


            <div class="top-nav notification-row">
                <!-- notificatoin dropdown start-->
                <ul class="nav pull-right top-menu">



                    <!-- alert notification start-->
                    <li id="alert_notificatoin_bar" class="dropdown">
                        <a id="boton_logout" data-toggle="dropdown" class="dropdown-toggle"  onclick="window.location='{% url "logout" %}'">

                            <i  class="icon_lock_alt"></i>

                        </a>

                    </li>
                    <!-- alert notification end-->
                    <!-- user login dropdown start-->

                    <!-- user login dropdown end -->
                </ul>
                <!-- notificatoin dropdown end-->
            </div>
      </header>
      <!--header end-->

      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu">
                  <li class="active">
                      <a class="">
                          <i class="icon_house_alt"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a id="menu_facturacion"href="javascript:;" class="">
                          <i class="icon_document_alt"></i>
                          <span id="span_facturacion">Facturación</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
                      <ul class="sub">
                          <li>
                              <a class="" href="{% url 'listaDatosFactura' %}" >Datos Factura</a>
                          </li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a id="menu_exportacion" href="javascript:;" class="">
                          <i class="icon_desktop"></i>
                          <span id ="span_exportacion">Exportación</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
                      <ul class="sub">
                          <li><a id= "submenu_datos_factura" class="" href="{% url 'lista_datos_factura' %}">Datos Factura</a></li>
                          <li><a id= "submenu_pagos_colegiatura" class="" href="{% url 'lista_alumnos_colegiaturas' %}">Pagos de Colegiatura</a></li>
                          <li><a id= "submenu_alumnos_inscritos" class="" href="{% url 'lista_alumnos_inscritos' %}">Alumnos Inscritos</a></li>
                          <li><a id= "submenu_alumnos_becados" class="" href="{% url 'lista_alumnos_becas' %}">Alumno Becado</a></li>
                          <li><a id= "submenu_alumnos_familias" class="" href="{% url 'lista_alumnos_familias' %}">Alumnos Familia</a></li>
                      </ul>
                  </li>



              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->

      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
              <!--overview start-->


            <div class="row">
                <div class="col-lg-12">

                {% block contenido %}

                {% endblock %}

                </div>
            </div>

            <!--
                <div class="widget-foot">
                    DERECHOS RESERVADOS INGENIERÍA DE SOFTWARE
                  </div>
            -->
                </div>
              </div>

            </div>

          </div>
              <!-- project team & activity end -->

          </section>
      </section>
      <!--main content end-->
  </section>
  <!-- container section start -->

    <!-- javascripts -->
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/jquery-ui-1.10.4.min.js" %}"></script>
    <script src="{% static "js/jquery-1.8.3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-ui-1.9.2.custom.min.js" %}"></script>
    <!-- bootstrap -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <!-- nice scroll -->
    <script src="{% static "js/jquery.scrollTo.min.js" %}"></script>
    <script src="{% static "js/jquery.nicescroll.js" %}" type="text/javascript"></script>
    <!-- charts scripts -->
    <script src="{% static "assets/jquery-knob/js/jquery.knob.js" %}"></script>
    <script src="{% static "js/jquery.sparkline.js" %}" type="text/javascript"></script>
    <script src="{% static "assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js" %}"></script>
    <script src="{% static "js/owl.carousel.js" %}" ></script>
    <!-- jQuery full calendar -->
    <<script src="{% static "js/fullcalendar.min.js" %}"></script> <!-- Full Google Calendar - Calendar -->
    <script src="{% static "assets/fullcalendar/fullcalendar/fullcalendar.js" %}"></script>
    <!--script for this page only-->
    <script src="{% static "js/calendar-custom.js" %}"></script>
    <script src="{% static "js/jquery.rateit.min.js" %}"></script>
    <!-- custom select -->
    <script src="{% static "js/jquery.customSelect.min.js" %}" ></script>
    <script src="{% static "assets/chart-master/Chart.js" %}"></script>

    <!--custome script for all page-->
    <script src="{% static "js/scripts.js" %}"></script>
    <!-- custom script for this page-->
    <script src="{% static "js/sparkline-chart.js" %}"></script>
    <script src="{% static "js/easy-pie-chart.js" %}"></script>
    <script src="{% static "js/jquery-jvectormap-1.2.2.min.js" %}"></script>
    <script src="{% static "js/jquery-jvectormap-world-mill-en.js" %}"></script>
    <script src="{% static "js/xcharts.min.js" %}"></script>
    <script src="{% static "js/jquery.autosize.min.js" %}"></script>
    <script src="{% static "js/jquery.placeholder.min.js" %}"></script>
    <script src="{% static "js/gdp-data.js" %}"></script>
    <script src="{% static "js/morris.min.js" %}"></script>
    <script src="{% static "js/sparklines.js" %}"></script>
    <script src="{% static "js/charts.js" %}"></script>
    <script src="{% static "js/jquery.slimscroll.min.js" %}"></script>

  <script>

      //knob
      $(function() {
        $(".knob").knob({
          'draw' : function () {
            $(this.i).val(this.cv + '%')
          }
        })
      });

      //carousel
      $(document).ready(function() {
          $("#owl-slider").owlCarousel({
              navigation : true,
              slideSpeed : 300,
              paginationSpeed : 400,
              singleItem : true

          });
      });

      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });

      /* ---------- Map ---------- */
    $(function(){
      $('#map').vectorMap({
        map: 'world_mill_en',
        series: {
          regions: [{
            values: gdpData,
            scale: ['#000', '#000'],
            normalizeFunction: 'polynomial'
          }]
        },
        backgroundColor: '#eef3f7',
        onLabelShow: function(e, el, code){
          el.html(el.html()+' (GDP - '+gdpData[code]+')');
        }
      });
    });



  </script>

  </body>
</html>